<!-- <div>
  <p>You can upload csv, xlsx, xlsx file</p>
<input type="file" (change)="onFileChange($event)" multiple="false" />
<table class="sjs-table">
 <tbody>
 <tr *ngFor="let row of data">
  <td *ngFor="let val of row">
   {{val}}
  </td>
 </tr>
   </tbody>
</table>
</div>


<div>
<table id="tbl">
<tr>
  <td>Eid</td>
  <td>Ename</td>
  <td>Esal</td>
</tr>
<tr *ngFor="let item of data2">
  <td>{{item.eid}}</td>
  <td>{{item.ename}}</td>
  <td>{{item.esal}}</td>
</tr>
</table>
</div>

<button (click)="exportSheet()">export Sheet</button>
<button (click)="exportAsExcelFile()"> json Export!</button>
<button (click)="generateExcelsheet()"> Excelsheet with formatting!</button>





<div id="output"></div>
<br>
<div *ngIf="willDownload">
	<a id="download"> Download JSON File </a>
</div>




 -->

 <input type="file" (change)="onFileChange2($event)" />
